.faq{
    background: var(--color-gray-500);
    padding: 1.2rem;
    border-radius: 1rem;
}

.faq div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq__icon{
    background: #FFF0;
    color: var(--color-gray-100);
    font-size: 1.5rem;
    cursor: pointer;
}
.faq__icon:hover{
    color: var(--secondary-color);
 
}


.faq p{
    margin-top: 1.5rem;
}