.programs {
    margin-top: 4rem;
}

.programs__wrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.3rem;
    margin-top: 3.5rem;
}

.programs__program a{
    margin-top: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.programs__program:hover a{
    background: var(--secondary-color);
    color: var(--color-gray-600);
}


/* media queries */
@media only screen and (max-width: 1024px){
    .programs__wrapper{
        grid-template-columns: 1fr 1fr;
    }
  }

  /* media queries */
@media only screen and (max-width: 600px){
    .programs__wrapper{
        grid-template-columns: 1fr;
        gap: 2rem;
        margin-top: 3rem;
    }

    .programs__program{
        width: 90%;
        margin: 0 auto;
    }
  }